<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097573652869-ogmvn0qk6ncc4rjecvrl5rd6l12mre0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097573652869-ogmvn0qk6ncc4rjecvrl5rd6l12mre0o</string>
	<key>API_KEY</key>
	<string>AIzaSyAS80vraRNlx-O_DB_j7MxftWVoa8J9oEY</string>
	<key>GCM_SENDER_ID</key>
	<string>1097573652869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lettstutor</string>
	<key>PROJECT_ID</key>
	<string>letstutor-cd8fe</string>
	<key>STORAGE_BUCKET</key>
	<string>letstutor-cd8fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097573652869:ios:9b2c8ccf9eba0fd7800cec</string>
</dict>
</plist>